<ion-view view-title="U:Max">
    <ion-nav-title align-title="center">
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content>
    <div id="map">

    </div>
  </ion-content>
</ion-view>
