<ion-view view-title="U:Max">
    <ion-nav-title align-title="center">
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding stockBG">
        <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img src="img/account.png" class="full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
      <div class="col">
        <h2><font color="white"><center><strong>My Accounts</strong></center></font></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="white">What would you like to do?</h4>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select ng-model="actchoice" ng-change="actchange(actchoice)"
              data-ng-options="act as act.name for act in actchoices">
            </select>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
