<ion-view view-title="U:Max">
    <ion-nav-title align-title="center">
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>
  <ion-content class="padding stockBG">
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img src="img/vhappy.png" class="full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
      <div class="col">
        <h1><font color="white"><center><strong>Hi!</strong></center></font></h1>
        <h2><font color="white"><center><strong>I am U-Max,</strong></center></font></h2>
        <h3><font color="white"><center><strong>Your personal financial adviser.</strong></center></font></h3>
        <h4><font color="white"><center>What would you like to invest on?</center></font></h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select ng-model="invchoice" ng-change="invchange(invchoice)"
              data-ng-options="invchoice as invchoice.name for invchoice in invchoices">
            </select>
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
