<ion-view view-title="U:Max">
    <ion-nav-title align-title="center">
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding stockBG">
      <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img src="img/contact.png" class="full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="row">
      <div class="col">

    <h2><font color="white"><center><strong>Contact Us</strong></center></font></h2>
    <div class="row">
      <div class="col">
        <a class="button button-block icon-left ion-ios-telephone" href="tel:123">Call</a>
      </div>
      <div class="col">
        <a class="button button-block icon-left ion-iphone" href="sms:">Text</a>
      </div>
      <div class="col">
        <a class="button button-block icon-left ion-email" href="mail:kean.franco07@gmail.com">Email</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-block icon-left ion-location" href="#/map">ATM &amp; Branch Locator</a>
      </div>
    </div>
  </ion-content>
</ion-view>
