<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding foreclosedBG">
    <h2 class="white">View Foreclosed Asset</h2>
    <div class="card">
      <ul class="list">
        <li class="item">
          <img ng-src="{{asset.image}}" alt="" width="100%"/>
        </li>
        <li class="item">
          <strong>Name</strong>: {{asset.name}}
        </li>
        <li class="item">
          <strong>Address</strong>: {{asset.address}}
        </li>
        <li class="item">
          <strong>Price</strong>: Php {{asset.price}}
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
