<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding foreclosedBG">
    <h2 class="white"><strong><center>Foreclosed Assets</center></strong></h2>
        <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img ng-src="{{ateGurl}}" class="ategurl full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="card animate-show-hide fade" ng-if="myValues[0]" ng-show="myValues[0]">
      <div class="item item-text-wrap">
        What would you like to buy?
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                &nbsp;
              </div>
              <select ng-model="assetchoice"
                data-ng-options="asset as asset.name for asset in assetchoices">
              </select>
            </label>
          </div>
        </div>
        <div class="col">
          <button class="button button-balanced" ng-click="showAlert()"> <i class="icon ion-checkmark"></i> </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[1]" ng-show="myValues[1]">
      <div class="item item-text-wrap">
        What is your preferred minimum invesment price?
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter here" ng-model="price">
          </label>
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[2]" ng-show="myValues[2]">
      <div class="item item-text-wrap">
        Displaying {{assetchoice.name}}s, prioritizing lowest environmental risks.
      </div>
      <div class="list" ng-repeat="asset in assets">
        <div ng-if="asset.price <= price">
          <a class="item item-thumbnail-left" href="#inv/asset/{{asset.id}}">
            <img ng-src="{{asset.image}}">
            <h2>{{asset.name}}</h2>
            <p>{{asset.address}}</p>
            <br>
            <strong>Php</strong> {{asset.price}}
          </a>
        </div>
      </div>
      <div class="item item-text-wrap">
        Would you like to proceed to time deposit or read our FAQs?
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-balanced button-block" ng-click="showAlert()">
            Proceed
          </button>
        </div>
        <div class="col">
          <a class="button button-positive button-block">
            Read FAQs
          </a>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[3]" ng-show="myValues[3]">
      <div class="item item-text-wrap">
        Thank you! Your loan request is being evaluated. We will contact you for more details.
      </div>
      <button class="button button-block button-balanced"> Back to Home </button>
    </div>
  </ion-content>
</ion-view>
