<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding carBG">
    <h2 class="white"><strong><center>Car Loan Guide</center></strong></h2>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img ng-src="{{ateGurl}}" class="ategurl full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="card animate-show-hide fade" ng-if="myValues[0]" id="card-monthly-income" ng-show="myValues[0]">
      <div class="item item-text-wrap">
        <h2>What is your monthly income?</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter here" ng-model="carincome">
          </label>
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[1]" id="card-monthly-income" ng-show="myValues[1]">
      <div class="item item-text-wrap">
        <h2>What is your intended amount to borrow?</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter here" ng-model="carloan">
          </label>

          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[2]" ng-show="myValues[2]">
      <div class="item item-text-wrap">
        <h2>Sorry!</h2>
        <h3>Sorry, but the minimum amount to be borrowed should not be less than Php200,000.00.</h3>
      </div>
      <div class="item item-text-wrap">
        <a class="button button-balanced" href="#/tab/dash">
          Back to Home
        </a>
        <button class="button button-positive">
          Read FAQs
        </button>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[3]" id="card-monthly-income" ng-show="myValues[3]">
      <div class="item item-text-wrap">
        <h2>Please select the car brand.</h2>
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <div class="item item-input-inset">
              <label class="item item-input item-select">
                <div class="input-label">
                  &nbsp;
                </div>
                <select ng-model="carchoice"
                  data-ng-options="car as car.name for car in carchoices">
                </select>
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[4]" id="card-monthly-income" ng-show="myValues[4]">
      <div class="item item-text-wrap">
        <h2>Please select the car model.</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select ng-model="modelchoice"
              data-ng-options="model as model.name for model in modelchoices">
            </select>
          </label>
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[5]" id="card-monthly-income" ng-show="myValues[5]">
      <div class="item item-text-wrap">
        <h2>The car's price is PhpX. <br> Please select your downpayment percentage.</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select ng-model="downchoice"
              data-ng-options="down as down.name for down in downchoices">
            </select>
          </label>
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[6]" id="card-monthly-income" ng-show="myValues[6]">
      <div class="item item-text-wrap">
        <h2>Please select how many months you will pay your loan.</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item item-input item-select">
            <div class="input-label">
              &nbsp;
            </div>
            <select ng-model="cartermchoice"
              data-ng-options="term as term.name for term in cartermchoices">
            </select>
          </label>
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[7]" id="card-monthly-income" ng-show="myValues[7]">
      <div class="item item-text-wrap">
        <h2>Here are the results of your potential loan.</h2>
      </div>
        <ul class="list">
            <li class="item">
              <b>Car price:</b> Php x
            </li>
            <li class="item">
              <b>Amount financed:</b> Php x
            </li>
            <li class="item">
              <b>Car chartel mortgage fees:</b> Php x
            </li>
            <li class="item">
              <b>Total cashout:</b> Php x
            </li>
            <li class="item">
              <b>Monthly amortization:</b> Php x
            </li>
        </ul>
        <button class="button button-balanced" ng-click="showAlert()">
          <i class="ionicon ion-checkmark-round"></i>
        </button>
    </div>


    <div class="card animate-show-hide fade" ng-if="myValues[8]" ng-show="myValues[8]">
      <div class="item item-text-wrap">
        <h2>Looks good!</h2>
        <h3>For a monthly income of Px and y years to pay, you may borrow up to Z.
Would you like to proceed or read FAQs?</h3>
      </div>
      <div class="item item-text-wrap">
        <button class="button button-balanced" ng-click="showAlert()">
          Proceed to loan
        </button>

        <button class="button button-positive">
          Read FAQs
        </button>
      </div>
    </div>

    <div class="card animate-show-hide fade" ng-if="myValues[9]" ng-show="myValues[9]">
      <div class="item item-text-wrap">
        Thank you! Your loan request is being evaluated. We will contact you for more details.
      </div>
      <button class="button button-block button-balanced"> Back to Home </button>
    </div>
  </ion-content>
</ion-view>
