<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding houseBG">
    <h2 class="white"><strong><center>House and Lot Loan Guide</center></strong></h2>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img ng-src="{{ateGurl}}" class="ategurl full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="card fade" ng-if="myValues[0]" id="card-monthly-income" ng-show="myValues[0]">
      <div class="item item-text-wrap">
        <h2>What is your monthly income?</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter here" ng-model="income">
          </label>
          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[1]" id="card-years-to-pay" ng-show="myValues[1]">
      <div class="item item-text-wrap">
        <h2>How many years would you like to pay the loan?</h2>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Enter here" ng-model="term">
          </label>

          <button class="button button-balanced button-small" ng-click="showAlert()">
            <i class="ionicon ion-checkmark-round"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[2]" ng-show="myValues[2]">
      <div class="item item-text-wrap">
        <h3>For a monthly income of Php {{income}} and {{term}} years to pay, you may borrow up to Php {{loan}}.
Would you like to proceed or read FAQs?</h3>
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced" ng-click="showAlert()">
            Proceed to loan
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-positive">
            Read FAQs
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[3]"  ng-show="myValues[3]">
      <div class="item item-text-wrap">
        Thank you! Your loan request is being evaluated. We will contact you for more details.
      </div>
      <div class="row">
        <div class="col">
          <a class="button button-block button-balanced" href="#/tab/dash"> Back to Home </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
