<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding stockBG">
    <h2 class="white"><strong><center>Stock Portfolio Guide</center></strong></h2>
    <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img ng-src="{{ateGurl}}" class="ategurl full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="card fade" ng-if="myValues[0]" ng-show="myValues[0]" class="check-element animate-show" >
      <div class="item item-text-wrap">
        What is your preferred currency?
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                &nbsp;
              </div>
              <select ng-model="currchoice"
                data-ng-options="curr as curr.name for curr in currchoices">
              </select>
            </label>
          </div>
        </div>
        <div class="col">
          <button class="button button-balanced" ng-click="showAlert()">
            <i class="icon ion-checkmark"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[1]" ng-show="myValues[1]" class="check-element animate-show" >
      <div class="item item-text-wrap">
        What is your preferred minimum invesment fee?
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                &nbsp;
              </div>
              <select ng-model="minchoice"
                data-ng-options="min as min.name for min in minchoices">
              </select>
            </label>
          </div>
        </div>
        <div class="col">
          <button class="button button-balanced" ng-click="showAlert()">
            <i class="icon ion-checkmark"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[2]" ng-show="myValues[2]">
      <div class="item item-text-wrap">
        What is your preferred investment risk?
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                &nbsp;
              </div>
              <select ng-model="riskchoice"
                data-ng-options="risk as risk.name for risk in riskchoices">
              </select>
            </label>
          </div>
        </div>
        <div class="col">
          <button class="button button-balanced" ng-click="showAlert()">
            <i class="icon ion-checkmark"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[3]" ng-show="myValues[3]">
      <div class="item item-text-wrap">
        What is your preferred trust fee per year?
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                &nbsp;
              </div>
              <select ng-model="trustchoice"
                data-ng-options="trust as trust.name for trust in trustchoices">
              </select>
            </label>
          </div>
        </div>
        <div class="col">
          <button class="button button-balanced" ng-click="showAlert()">
            <i class="icon ion-checkmark"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[4]" ng-show="myValues[4]">
      <div class="item item-text-wrap">
        We recommend you the following stock portfolio:
      </div>
      <ul class="list">
        <li class="item"><strong>Name:</strong> High Net Worth Medium-Term Peso Fixed Income Portfolio</li>
        <li class="item"><strong>Launch Date:</strong> July 1, 2016</li>
        <li class="item"><strong>Minimum Investment:</strong> P10,000,000</li>
        <li class="item"><strong>Return Objective:</strong> designed to provide high net worth individual and corporate investors higher returns than traditional fixed-income savings porducts.</li>
        <li class="item"><strong>Risk Parameters:</strong> 1. Credit Risk -LOW
        -Limited to government securities and investment-grade corporate bonds.
        2. Market Risk -LOW -Modified Duration* Limit:5.00</li>
        <li class="item"><strong>Initial NAV per unit:</strong> PHP 100.00</li>
        <li class="item"><strong>Time Horizon:</strong>All individuals of legal age and corporations with a short to medium investment horizon -Minimum Holding Period: Not applicable -Early Redemption fee: Not applicable</li>
        <li class="item"><strong>Regulatory:</strong>Subject to Bangko Sentral ng PIlipinas regulations governing the creation, administration and investments of Unit Investment Trust Funds as outlined in BSP Circular 447 Series of 2004 and Section UX410 of the Manual of Regulations for Banks.</li>
        <li class="item"><strong>Tax:</strong>Subject to regular withholding tax of 20% on interest income.</li>
        <li class="item"><strong>Acceptance &amp; Withdrawal Procedure:</strong>Investments into the fund may be accepted on any banking day, at the prevailing NAV per unit. All investments and withdrawals should be processed before 2:30PM. Withdrawals will be funded one(1) banking day after the date of transaction.</li>
      </ul>
      <div class="item item-text-wrap">
        Would you like to proceed with this type of investment?
      </div>
      <div class="row">
        <br>
        <div class="col">
          <button class="button button-block button-balanced" ng-click="showAlert()">
            Proceed
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-positive">
            Read FAQs
          </button>
        </div>
      </div>
    </div>

    <div class="card fade" ng-if="myValues[5]" ng-show="myValues[5]">
      <div class="item item-text-wrap">
        Thank you! Your investment request is being evaluated. We will contact you for more details.
      </div>
      <a class="button button-block button-balanced" href="#/tab/dash"> Back to Home </a>
    </div>
  </ion-content>
</ion-view>
