<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>

  <ion-content class="padding timeDepBG">
    <h2 class="white"><strong><center>Time Deposit</center></strong></h2>
        <div class="row">
      <div class="col col-10"></div>
      <div class="col">
        <img ng-src="{{ateGurl}}" class="ategurl full-image"> </img>
      </div>
      <div class="col col-10"></div>
    </div>
    <div class="card  fade" ng-if="myValues[0]" ng-show="myValues[0]">
      <div class="item item-text-wrap">
        How many months would you like to store your money?
      </div>
      <div class="row">
        <div class="col col-80">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                &nbsp;
              </div>
              <select ng-model="timechoice"
                data-ng-options="time as time.name for time in timechoices">
              </select>
            </label>
          </div>
        </div>
        <div class="col col">
          <button class="button button-balanced" ng-click="showAlert()">
            <i class="icon ion-checkmark-round"></i>
          </button>
        </div>
      </div>

    </div>

    <div class="card  fade" ng-if="myValues[1]" ng-show="myValues[1]">
      <div class="item item-text-wrap">
        Would you like it to be compounded annually?
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced" ng-click="showAlert()"> <i class="icon ion-checkmark-circled"></i> </button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive" ng-click="showAlert()"> <i class="icon ion-close-circled"></i> </button>
        </div>
      </div>
    </div>

    <div class="card  fade" ng-if="myValues[2]" ng-show="myValues[2]">
      <div class="item item-text-wrap">
        Here is your recommended time deposit account.
        <ul class="list">
            <li class="item">
              <strong>Name</strong>: Peso Time Deposit
            </li>
            <li class="item"><strong>Minimum Investment:</strong> P50,000</li>
            <li class="item"><strong>Interest Rate:</strong> Fixed, but subject to rate adjustments.</li>
            <li class="item"><strong>Placement Term:</strong> 30 to 360 days.</li>
            <li class="item"><strong>Interest Payment:</strong> Paid with prinicipal deposit at end of term.</li>
            <li class="item"><strong>Member:</strong> PDIC. Max deposit insurance for each depositor: P500,000.</li>
        </ul>
      </div>
      <div class="item item-text-wrap">
        Would you like to proceed to time deposit or read our FAQs?
      </div>
      <div class="row">
        <div class="col">
          <button class="button button-balanced button-block" ng-click="showAlert()">
            Proceed
          </button>
        </div>
        <div class="col">
          <a class="button button-positive button-block">
            Read FAQs
          </a>
        </div>
      </div>
    </div>

    <div class="card  fade" ng-if="myValues[3]" ng-show="myValues[3]">
      <div class="item item-text-wrap">
        Thank you! Your time deposit request is being evaluated. We will contact you for more details.
      </div>
      <a class="button button-block button-balanced" href="#/tab/dash"> Back to Home </a>
    </div>
  </ion-content>
</ion-view>
