<ion-view view-title="U:Max">
    <ion-nav-title>
      <img src="img/umax_mod2.png" class="logo" width="10%"></img>
    </ion-nav-title>
  <ion-content class="padding timeDepBG">
      <div class="row">
        <h2 class="white"><center><strong>Savings vs. Expenses</strong></center></h2>
      </div>
      <div class="card">
        <div class="item item-divider">
          Savings Account
        </div>
        <div class="item item-text-wrap">
          Hi! Your balance is Php <strong>12360.00</strong>.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Credit Account
        </div>
        <div class="item item-text-wrap">
          Hi! Your outstanding payable is Php <strong>54029.00</strong>.
        </div>
      </div>
      <div class="card">
          <div class="item item-divider item-text-wrap">
            The graph below shows you the comparison of your savings (blue) versus expenses (pink).
          </div>
          <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-colors="colors"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
          </div>
          <div class="item item-divider item-text-wrap">
            You might want to <i>lessen</i> your expenses.
          </div>
      </div>
  </ion-content>
</ion-view>
