/* Empty. Add your own CSS if you like */

$orange: #ef7b3d;
$orange1: #ed6b25;
$orange2: #ff7f00;
$blue: #0e0059;
$blue1: #564c89;
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
/*BACKGROUNDS*/
.houseBG{
  background: url("../img/houseBG.png");
  background-size: cover;
  background-position: right 0px bottom;
}
.carBG{
  background: url("../img/carBG.png");
  background-size: cover;
  background-position: right 0px bottom;

}
.stockBG{
  background: url("../img/stocksBG.png");
  background-size: cover;
  background-position: right 0px bottom;
}
.timeDepBG{
  background: url("../img/timeDepBG.png");
  background-size: cover;
  background-position: right 0px bottom;

}
.foreclosedBG{
  background: url("../img/foreclosedBG.png");
  background-size: cover;
  background-position: right 0px bottom;
}


.center-text{
  text-align: right;
}

.item-content {
  background-color: blue;
}
.pane {
    background-color: #d35400;
}
.bar.bar-stable {
    background-color: #010B45;
    color: #010B45;
}
.bar.bar-stable .title {
    background-color:#010B45;
    color: #f4f4f4;
}

.input-label{
  width:0;
}

.logo{
  padding: 5px;
  width: auto;
  height: 100%;
}

.item-select select {
  left: 4rem;
}

i.big-icon {
  font-size: 50px;
}

.text-center{
  text-align: center;
}

.full-image {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.white{
  color: white;
  text-align: center;
}

.css-class-add, .css-class-remove {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.css-class,
.css-class-add.css-class-add-active {
  color: red;
  font-size:3em;
}

.css-class-remove.css-class-remove-active {
  font-size:1.0em;
  color:black;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}